@import url("https://fonts.googleapis.com/css?family=Raleway:100");

body {
  background-color: white;
}
#wrapper {
  border-radius: 20px;
  display: grid;
  width: 95%;
  margin: 20px auto;
  background-color: #ddd;
  grid-template-rows: 2fr 1fr 17fr;
  grid-template-columns: 3fr 5fr;
  height: 800px;
  grid-gap: 10px;
  box-shadow: 0 0 30px #222;
  font-weight: bolder;
}

#wrapper * {
  background-color: white;
}

#logo {
  width: 40px;
  background-color: RGB(0, 172, 250);
}

#banner-cell {
  grid-row: 1 / 2;
  grid-column: 1 / 3;
  text-align: center;
  border-radius: 20px 20px 0px 0px;
  background-color: RGB(0, 172, 250);
}

#banner-text {
  font-family: "Raleway", sans-serif;
  color: #ddd;
  font-size: 3em;
  display: inline-block;
  background-color: RGB(0, 172, 250);
}

#names-cell {
  position: relative;
  padding-top: 10px;
  text-align: center;
  grid-row: 2 / 4;
  grid-column: 1 / 2;
  border-radius: 0px 10px 0px 20px;
}

#tweets-cell {
  position: relative;
  grid-row: 3 / 4;
  grid-column: 2 / 3;
  border-radius: 10px 0px 20px 0px;
  overflow: auto;
}

#topic-input-container {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  align-items: center;
  vertical-align: bottom;
  padding-top: 6px;
  padding-left: 10px;
  font-family: "Raleway", sans-serif;
  font-weight: bolder;
  border-radius: 8px 0px 0px 8px;
}

#topic-input {
  width: 75%;
  padding-left: 8px;
  padding-right: 8px;
  background-color: rgb(240, 240, 240);
  box-align: center;
  border: 1px solid rgb(220, 220, 220);
  border-radius: 20px;
}

#topic-input:focus {
  border: 2px solid cadetblue;
  background-color: white;
}

#search-button {
  border-radius: 20px;
  width: 73px;
  text-align: left;
  border: 2px solid cadetblue;
  background-color: white;
  background-image: url("mag.png");
  background-repeat: no-repeat;
  background-size: 15px 15px;
  background-position-x: 97%;
  background-position-y: center;
  transition-duration: 0.5s;
}

#search-button:hover {
  background-color: cadetblue;
}

/* all the tweets stuff formatting is here */
#tweets-cell .tweet {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 10px;
  /* position: absolute; */
  width: 95%;
  align-self: center;
  background-color: white;
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-bottom: 2px solid gray;
  border-top-left-radius: 10px;
  height: auto;
  /* display: block; */
}

#tweets-cell .tweet sub {
  height: auto;
  background-color: white;
  color: #c4cbc9;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#tweets-cell .tweet b {
  height: auto;
  background-color: white;
  color: RGB(0, 172, 250);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* all the names stuff formatting is right here */

#names-cell .name-boxes {
  /* position: absolute; */
  background-color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 6px 12px;
  padding: 8px;
  border: 2px solid grey;
  border-radius: 8px;
  width: 86%;
}

#names-cell .name-boxes b {
  background-color: white;
}
